{% extends "xblog/blog_base.html" %}
{% block maincontent %}
<h1>{{ object.title }}</h1>
<p>{% if object.avatar %}<img src="{{ object.owner.author.avatar.url }}" height=50 width=50>{% endif %}{{ object.fullname }}</p>
{{ object.post_set.count }} posts.

<ul>
{% for blog in object.user.blog_set.all %}
<li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></li>
{% endfor %}
</ul>
    <img src="{{ object.avatar.url }}" alt="" class="img-rounded img-responsive" />
    <h3>{{ object.fullname }}</h3>
    <p>{{ object.user.email_address }}</p>
{% endblock %}

