{% extends "xblog/blog_base.html" %}
{% load markdown_deux_tags %}
{% block blogheaders %}<meta name="description" content="{{ site.name }} Archive: Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}" />{% endblock %}
{% block maincontent %}
{% for object in latest %}
    <!-- begin main blog overview -->
    {% if object.post_format == 'video' %}
    <!-- a video! -->
    {% include "includes/video_template.txt" %}
    {% elif object.post_format == 'status' %}
    {% include "includes/status_template.txt" %}
    {% else %}
    {% for object in latest %}
    {% include "includes/post_template.txt" %}
    {% include "includes/post_stats.txt" %}
    {% endfor %}
    {% endif %}
{% endfor %}
<!-- end main blog overview -->
{% endblock %}
<!-- numreplies -->
<!-- /numreplies -->
